$clockRadius: 500px;

#clock {
  height: $clockRadius;
  /*height: 500px;*/
  width: 500px;
  border-radius: 500px;
  border: 1px solid black;
  position: relative;
}

.hand,
.num {
  position: absolute;
  left: calc(#{$clockRadius} / 2);
}

.hand {
  background-color: black;
}

// #second,
// #minute,
// #hour {
//   transform-origin: "bottom";
// }

#second {
  top: calc(#{$clockRadius} / 2 - 200px);
  height: 200px;
  width: 2px;
}

#minute {
  top: calc(#{$clockRadius} / 2 - 150px);
  height: 150px;
  width: 3px;
}

#hour {
  top: calc(#{$clockRadius} / 2 - 100px);
  height: 100px;
  width: 5px;
}

.num {
  font-size: 24px;
}